<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c0a13520-7898-4965-86c4-947e0768473e/resourcegroups/MaerskLineAppRG01/providers/Microsoft.Web/sites/MaerskLine1207</ResourceId>
    <ResourceGroup>MaerskLineAppRG01</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maerskline1207.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maerskline1207.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaerskLine1207</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaerskLine1207</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Maersk_LineContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:naidu127.database.windows.net,1433;Initial Catalog=Maersk;Persist Security Info=False;User ID=jagnaidu;Password=Ab123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:naidu127.database.windows.net,1433;Initial Catalog=Maersk;Persist Security Info=False;User ID=jagnaidu;Password=Ab123456;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Maersk_Line.Models.Maersk_LineContext, Maersk_Line" MigrationConfiguration="Maersk_Line.Migrations.Configuration, Maersk_Line" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:naidu127.database.windows.net,1433;Initial Catalog=Maersk;Persist Security Info=False;User ID=jagnaidu;Password=Ab123456;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:naidu127.database.windows.net,1433;Initial Catalog=Maersk;Persist Security Info=False;User ID=jagnaidu;Password=Ab123456;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>