
@{
    ViewBag.Message = "About Maersk Line";
}
<div class="jumbotron">
    <h1>@ViewBag.Message.</h1>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller.</p>
</div>
@{
    ViewBag.Title = "Contact";
}
<div>
        <h2>Maersk Line </h2>
</div>
<address>
    Harbour Front, Singapore 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    012-9889755
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@maersk.com">support@maersk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@maersk.com">marketing@maersk.com</a>
</address>

<div style="width:1000px; margin:0 auto;text-align:center">
    <img alt="MaerskLine" src="@Url.Content("http://maritimedenmark.dk/nonsec/NPIX/2013/5/Maersk-Line-logo-610x200.jpg")">
</div>
