
@{
    ViewBag.Message = "Welcome To Maersk Line";
}
<div class="jumbotron";style="text-align:center">
    <h1> @ViewBag.Message</h1>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller.</p>
</div>

<div style="width:1000px; margin:0 auto;text-align:center">
    <img alt="MaerskLine" src="@Url.Content("http://19359-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2016/11/MAERSK-RETROFIT-PROGRAM-RAISES-BRIDGE-TO-INCREASE-EACH-SHIP-CAPACITY-FROM-9500-TEU-TO-11000-TEU.jpg") ">

</div>
<p>A.P. Moller - Maersk is an integrated transport and logistics company with multiple brands and is a global leader in container shipping and ports. Including a stand-alone Energy division, the company employs roughly 88,000 employees across operations in 130 countries.
        </p>
